body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
}
.engloba{
    background-color: rgb(229, 225, 225);
    max-width: 80%;
    margin: auto;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 15px;
    border-style: groove;
    text-align: center;   
}
img{
    max-width: 60%;
}
.p-info{
    margin: auto;
    max-width: 60%;
    text-align: justify;
}
.inicio{
    margin: 2em;
    
}